<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>{{status}}</h2>

    <h1>Student Admission Eligibility checker</h1>

    <form action="/checkadmission" method="POST">
        <div>
            <label>Username:</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>age:</label>
            <input type="number" name="age">
        </div>

        <div>
            <label>Marks:</label>
            <input type="number" name="marks">
        </div>

     

        <input type="submit">
    </form>
    
</body>
</html>