<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        {{ method_type}}
    </h2>
    <form action="/form" method="POST">
        <label for="">Username</label>
        <input type="text" name="username">
        <br>

        
        <input type="checkbox" name="skill">
        <label for="">html</label>

        <input type="checkbox" name="skill">
        <label for="">css</label>

        <input type="checkbox" name="skill">
        <label for="">js</label>
        <input type="submit">
    </form>
</body>
</html>