<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/inventory" method="POST">
        <div>
            <label>Select inventory items:</label>
            <br>

            <input type="checkbox" name="items"  value="mobile">
            <label>mobile</label>

            <input type="checkbox" name="items"  value="laptop">
            <label>laptop</label>

            <input type="checkbox" name="items" value="earbuds">
            <label>earbuds</label>
        </div>

        <input type="submit">
    </form>
    
</body>
</html>